
# Playwright
node_modules/
/test-results/
/blob-report/
/playwright/.cache/
# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.venv/

# Pytest
.pytest_cache/
.coverage
coverage.xml

# Allure reports
allure-results/
allure-report/

# Playwright
playwright-report/